/* Reset and Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

/* Main Content */
.main-content {
    text-align: center;
}

.main-content h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
    color: black;
}

.main-content h1 span {
    font-weight: 700;
    color: #00d468;
}
/* Updated h3 styling */
.content-section h3 {
    font-size: 20px;
    font-weight: 700; /* Makes the font bold */
    color: black;
    margin-top: 20px; /* Adds space above */
    margin-bottom: 10px; /* Adds space below */
}


.main-content hr {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #e0e0e0;
}

/* Content Sections */
.content-section {
    margin-top: 40px;
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

.content-section h2 {
    font-size: 22px;
    color: #00d468;
    margin-bottom: 10px;
    color: black;
}

.content-section p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
}

a {
    color: #28c76f;
    text-decoration: none;
}

/* Link Styling in About Co-Founder */
.green-link {
    color: blue; /* Set the link color to blue */
    text-decoration: none;
}

.green-link:hover {
    color: #00d468; /* Change to green on hover */
    text-decoration: underline; /* Add underline on hover */
}
